################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/LaserSimulator/x64/Debug
/x64/Debug
/x64/Release
/LaserSimulator.VC.db
/LaserSimulator.VC.VC.opendb
/LaserSimulator/x64/Release/LaserSimulator.tlog
/LaserSimulator/movie.avi
/LaserSimulator/x64/Release/vc140.pdb
/LaserSimulator/x64/Release/Origine.obj
/LaserSimulator/x64/Release
/.vs/LaserSimulator/v14/.suo
/imgOut
/LaserSimulator.sdf
/VisualizzatorePointCloud/x64/Release
/LaserSimulator/prodottooccluso.pcd
/LaserSimulator/final_cloud.pcd
/LaserSimulator/all_intersection_cloud.pcd
/x64/LaserSimulator/all_intersection_cloud.pcd
/x64/LaserSimulator
/result
